Styles.css

body {
  font-family: 'Arial', sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.content {
  text-align: center;
}

.title {
  font-size: 2em;
}

.button a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
}

.button a:hover {
  background-color: #fff;
  color: #000;
}

.logo {
  margin: 20px 0;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.pre-trained-bots {
  display: flex;
justify-content: space-around;
  flex-wrap: wrap;
}

.bot-square {
  text-align: center;
  margin: 10px;
  cursor: pointer;
}

.bot-square img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.footer {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #fff;
}

.links {
  text-align: center;
}

.links a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.public-bot-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bot-card {
  text-align: center;
  margin: 10px;
  cursor: pointer;
}

.bot-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  max-height: 150px; /* Set the maximum height for uniform thumbnails */
}
